:root {
  --globalFontColor: #333;
  --globalBackgroundColor: #f0f0f0;
  --globalFontSize: 16px;
  --globalContainerSize: 60%;
  --nightFontColor: #f0f0f0;
  --nightBackgroundColor: #333;
}

body {
  background-color: var(--globalBackgroundColor);
}

input {
  border: none;
}

.container {
  width: var(--globalContainerSize);
  height: var(--globalContainerSize);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: var(--globalFontSize);
}

.input {
  color: red;
  padding: 10px;
  width: var(--globalContainerSize);
}

.computer-number-container {
  width: var(--globalContainerSize);
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
}

.button {
  padding: 10px;
  background-color: var(--globalBackgroundColor);
  color: var(--globalFontColor);
  cursor: pointer;
  border: 1px solid var(--globalFontColor);
  border-radius: 10px;
  font-size: var(--globalFontSize);
}

.button:hover {
  background-color: var(--globalFontColor);
  color: var(--globalBackgroundColor);
  transition: all 0.5s;
}

.button:active {
  background-color: var(--globalFontColor);
  color: var(--globalBackgroundColor);
}

.numberContainer {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.numberTitle,
.numberInput {
  color: var(--globalFontColor);
  font-size: var(--globalFontSize);
}

.numberTitle {
  width: 15%;
  padding-right: 20%;
}

.numberInput {
  padding: 10px;
  flex-grow: 1;
}